<a href="https://colab.research.google.com/github/sgenjisword/.github.io/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
s = 1; n = 11
def arithSum(s,n):
  sum = 0
  for i in range(n):
    sum += i
  return sum

print("Sum of", s, "thru", n - 1, "is", arithSum(s, n))

Sum of 1 thru 10 is 55

In [4]:
print('Hello!')
print("Hello!")

Hello!
Hello!

In [5]:
x = 7
print('x is', x, "th")

x is 7 th

In [6]:
print("5's element is", end = " ")
print("TEST")

5's element is TEST

In [7]:
print('MY', 'name', 'is', 'Tom')
print('MY' 'name', 'is', 'Tom', sep = '+')

MY name is Tom
MYname+is+Tom

In [8]:
x = 77
print("x is", x, "th")
print("x is", x, "th", sep = "")

x is 77 th
x is77th

In [10]:
x = 5 #정수
y = 10.5  #실수
z = x + y
print('z is', z)

z is 15.5

In [11]:
a = (int)(x + y)  # 타입 캐스팅
print('a is', a)

a is 15

In [12]:
x = (20 +35) %10 # 10으로 나눈 나머지
print(x)

5

In [13]:
print(20/3)

6.666666666666667

In [14]:
print(20//3)

6

In [16]:
list = ['lion', 'in', 'oil']
print(list)

['lion', 'in', 'oil']

In [19]:
print("5's element")

5's element

In [18]:
print('5"s element')

5"s element

In [20]:
print('"5"s element"')

"5"s element"

In [21]:
print('5\'s element \\ 5\"s element')

5's element \ 5"s element

In [24]:
for i in range(10):
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [25]:
for i in range(4, 10, 2): # 시작: 4, 끝: , 간격: 2
  print(i, end = ' ')

4 6 8

In [26]:
for i in range(10, 4, -2): # 시작: 10, 끝: , 간격: 2
  print(i, end = ' ')

10 8 6

In [27]:
for i in [0, 1, 2, 3]: #리스트
  print(i, end= ' ')

0 1 2 3

In [28]:
s = [0, 1, 2, 3] #리스트
for i in s:
  print(i, end = ' ')

0 1 2 3

In [29]:
for i in (0, 1, 2, 3): # 튜플
  print(i, end = ' ')

0 1 2 3

In [30]:
d = {1:10, 2:20, 3:30, 10:40} # 딕셔너리
for i in d:
  print(i, ':', d[i], end = ', ')

1 : 10, 2 : 20, 3 : 30, 10 : 40,

In [31]:
for i in {1, 2, 10, 3}: #집합 (순서 개념 x)
  print(i, end = ' ')

10 1 2 3

In [32]:
for i in {2, 10, 3, 10}: #집합 (순서 개념x)
  print(i, end = ' ')

10 2 3

In [33]:
for i in 'test seq':
    print(i, end = '-')

t-e-s-t- -s-e-q-

In [34]:
a = 3
print(id(a)) # id(a): 변수 a의 id

132463829664048

In [35]:
a += 1
print(id(a)) # id(a: 변수 a의 id)

132463829664080

In [36]:
b = [1, 3, 5, 7]
print(id(b))

132462558409088

In [37]:
b.append('test')
print(id(b))

132462558409088

In [40]:
s = "test"
print(id(b))
s = "train"
print(id(b))

132462558409088
132462558409088

In [41]:
a = [1, 3, 5, 7]
print(a)
a[1] = 20
print(a)

[1, 3, 5, 7]
[1, 20, 5, 7]

In [42]:
t = (1, 3, 5, 7)
print(t)
t[1] = 20

(1, 3, 5, 7)

TypeError: ignored

In [43]:
d = {1:10, 3:20, 10:40}
d[3] = 222
d[50] = 55
for i in d:
  print(i, ':', d[i], end = ', ')

1 : 10, 3 : 222, 10 : 40, 50 : 55,

In [44]:
s = {1, 3, 5, 7}
print(id(s))
s.add(3)
s.add(10)
s.remove(1)
print(id(s))
print(s)

132462557890592
132462557890592
{3, 5, 7, 10}

In [51]:
def twofold(a):
  a = 2 * a

x = 5 #정수
twofold(x)
print(x)

5

In [52]:
def twofold(a):
  a = 2 * a
  return a
x = 5 #정수
x = twofold(x)
print(x)

10

In [58]:
def sample(a:int, b:list):
  a = 2 * a
  b.append('test')

x = 5 #정수
y = [1, 2] #리스트
sample(x, y)
print(x)
print(y)

5
[1, 2, 'test']

In [67]:
class Sample:
  counter2 = 0
  def __init__(self):
    self.counter = 0
  def numEven(self, n):
    for k in range(n):
      if k % 2 == 0:
        self.counter += 1
        Sample.counter2 +=1
s1 = Sample()
s2 = Sample()
s1.numEven(15)
s2.numEven(15)
print(s1.counter, s1.counter2)

8 16

In [62]:
print('s' in 'east')

True

In [63]:
print(77 in [10, 20, 35, 50])

False

In [64]:
for element in 'east':
  print(element, end = '-')

e-a-s-t-

In [65]:
for x in {0, 1, 2, 3}:
  print(x, end = ' ')

0 1 2 3